:root {
  --light-red: #e40b17;
  --main-orange: #efa13d;
  --tan: #a58976;
  --darker-red: #af1919;
  --main-brown: #433117;
  --shadow: 0 1px 5px rgba(54, 47, 47, 0.8);
}

* {
  box-sizing: border-box;
}

.block {
  display: block;
}
.inline {
  display: inline;
}
.leftRightPadding {
  padding: 0 1rem;
}
.topBottomMarginhalf1 {
  margin: 0.5rem auto;
}
.topBottomMargin1 {
  margin: 1rem auto;
}
.topBottomMargin2 {
  margin: 2rem auto;
}


body {
  background-color: rgb(65, 12, 3);
  margin: 0;
  /* padding: 0.8rem; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1 {
  font-family: 'Rock Salt', cursive; /*'Qwigley', cursive; "Segoe Script", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif; */
}

img {
  border: solid 1px black;
  box-shadow: var(--shadow);

  height: auto;
  object-fit: cover;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  background-color: var(--main-brown);
  border: solid 1px white;
  box-shadow: var(--shadow);
  color: white;
  list-style: none;
  padding: 0.4rem;
  margin: 0.4rem 0.2rem;
  text-align: center;
  font-size: 15px;
}

li a {
  color: white;
  text-decoration: none;
}
li a:hover {
  color: var(--tan);
}

label {
  color:rgb(236, 161, 63);
}

header, #geolocation {
  background-color: rgb(46, 8, 1);
  font-size: 15px;
}

header a {
  color: rgb(236, 161, 63);
  text-decoration: none;
  font-size: 15px;
}

header a:hover  {
  color: white;
}

button, input {
  background-color:  rgb(236, 161, 63);
  color: white;
}

h1 {
  margin-left: 15px;
  padding-top: 5px;
  margin-block-start: 0;
  font-size: 50px;
  font-weight: normal;

}




@media screen and (min-width: 750px) { 



  .app {
    margin: 0 auto;
    width: 800px;
  }

  

}