:root {
  --darker-red: #af1919;
  --light-red: #e40b17;
  --main-brown: #433117;
  --main-orange: #efa13d;
  --maroon: #600505;
  --romance: #F2EFE9;
  --seal-brown: #3A0404;
  --shadow: 0 1px 5px rgba(54, 47, 47, 0.8);
  --tan: #a58976;
}

* {
  box-sizing: border-box;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: var(--main-orange);
}
body {
  background-color: var(--seal-brown);
  color: var(--romance);
  font-family: 'Roboto', sans-serif;
  margin: 0 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  all: unset;
  color: var(--romance);
  font-size: 18px;
}
button:hover {
  cursor: pointer;
  color: var(--main-orange)
}
footer {
  text-align: center;
}
h1 {
  color: var(--romance);
  font-family: 'Rock Salt', cursive; /*'Qwigley', cursive; "Segoe Script", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif; */
  font-size: 48px;
  font-weight: normal;
  margin-block-start: 0;
  margin-top: 32px;
  text-align: center;
}
h2 {
  font-size: 26px;
}
img {
  border-bottom: 1px solid var(--main-orange);
  box-shadow: var(--shadow);
  height: auto;
  object-fit: cover;
  width: 100%;
}
input {
  padding: 6px 20px;
}
label {
  /* color:rgb(236, 161, 63); */
  display: inline-block;
}
p {
  font-size: 16px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* STYLING LIBRARY */
.block {
  display: block;
}
.inline {
  display: inline;
}
.leftRightPadding16px {
  padding: 0 16px;
}
.textCenter {
  text-align: center;
}
.topMargin8px {
  margin-top: 8px;
}
.topMargin16px {
  margin-top: 16px;
}
.topBottomMargin8px {
  margin: 8px auto;
}
.topBottomMargin16px {
  margin: 16px auto;
}
.topBottomMargin32px {
  margin: 32px auto;
}
.whiteFont {
  color: var(--romance);
}


/* SPECIFIC STYLING FOR ELEMENTS */
.button {
  all: unset;
  display: inline-block;
  padding: 8px 20px;
  background: var(--main-orange);
  color: var(--romance);
  box-shadow: 0 12px 12px -6px rgba(black, .5);
  /* transform: scale(1); */
  /* transition: transform ease-in-out 250ms, box-shadow ease-in-out 250ms; */
}
.button:hover {
  background: var(--romance);
  cursor: pointer;
  color: var(--main-orange)
  /* transform: scale(1.125); */
  /* box-shadow: 0 12px 18px -10px rgba(black, .5); */
}
.place-card-content {
  padding: 16px 8px;
}
.place-card-content-r1 {
  display: flex;
  justify-content: space-around;
}
.social-icons {
  color: var(--main-orange);
  font-size: 24px;
  margin: 0 8px;
  transform: scale(1);
  transition: transform ease-in-out 250ms, box-shadow ease-in-out 250ms;
}
.social-icons:hover {
  color: var(--romance);
  transform: scale(1.25);
}
.fa-bars {
  color: var(--romance);
  font-size: 22px;
}
.header-icons {
  display: flex;
  justify-content: space-between;
}


@media screen and (min-width: 990px) { 
  a {
    font-size: 18px;
  }
  label {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }

  header .profile-icon {
    font-size: 32px;
  }

  main, .dashboard {
    margin: 0 auto;
    width: 960px;
  }
  .social-icons {
    font-size: 32px;
  }
  
}